@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Root */
:root {
  --main-colour: 359, 100%, 0%;
  --second-colour: 0, 0%, 100%;
}

/* General */

body {
  background-color: #f8f7f2;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-image: url(./img/Kyle__Japanese_aesthetic_landscape_realistic_landscape_aestheti_8b1a49d8-cf78-4c93-a832-1ff0dd3d887f.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 2s linear;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
  text-align: center;
}

h1 {
  color: white;
  font-size: clamp(2.2rem, 2.1538rem + 1.5385vw, 4rem);
  font-weight: 200;
}

.timer {
  font-size: 10rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: -0.2rem;
  transition: font-size 0.5s ease
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  border-style: none;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  margin: 1rem;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
}

button:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.icon {
  display: inline-block;
  height: 45px;
  transition: scale 0.5s ease;
  margin: 0 10px;
}

.icon.settings {
  height: 38px;
}

.icon:hover {
  opacity: 0.8;
  scale: 93%;
}

body:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
}

/* Settings Menu */

.settings-screen {
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.4);
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.settings-container {
  background-color: hsla(var(--main-colour), 0.97);
  max-width: 50rem;
  color: hsl(var(--second-colour));
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 1rem;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.settings-body {
  display: flex;
  gap: 3rem;
}

#close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  transition: scale 0.5s ease;
}

#close-btn:hover {
  opacity: 0.8;
  scale: 93%;
}

.settings-nav li {
  color: white;
  border-bottom: 1px dotted hsla(0, 0%, 100%, 0.4);
  margin-bottom: 0.8rem;
  padding-right: 2rem;
} 

.theme-settings-section label {
  display: block;
  margin-bottom: 0.5rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
  .timer {
    font-size: 7rem;
  }
}

/* Utilities */
.hidden {
  display: none;
}
